<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:10020/css?host=mayfield"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0px 0px 0px 0px
        }

        body {
            background-color: #000044;
            background-repeat:no-repeat;
            background-position:center;
        }


    </style>
</head>
<body>
<!--    <script src="{{ url_for('static', filename='resources/js/chatbot_dev.js') }}"></script>-->
    <script src="http://localhost:10020/js/mayfield"></script>
</body>
</html>
